In [ ]:
range(0,20)

In [18]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# print range 10 to 20

In [37]:
for num in range(10,20):
    print(num,end=', ')

10, 11, 12, 13, 14, 15, 16, 17, 18, 19,

In [ ]:
# Print mixered datatype using tuples

In [80]:
Tuple1=(1,'welcome',2,'Hope')
print(Tuple1)

(1, 'welcome', 2, 'Hope')

In [81]:
Tuple1=(0,1,2,3)
Tuple2=('python','HOPE')
Tuple3=(Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [11]:
show_letter="Artificial Intelligence"
for letter in show_letter:
    print(letter)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [12]:
print("-Your Name-")
print("-Your Age-")
print("-Your Professional-")

-Your Name-
-Your Age-
-Your Professional-

In [40]:
lists=[20,10,16,19,25,1,276,188]

In [46]:
    print(lists)
for num  in lists:
       if(num%2==0):
        print(num, "is even")

[20, 10, 16, 19, 25, 1, 276, 188]
20 is even
10 is even
16 is even
276 is even
188 is even

In [47]:
lists=[20,10,16,19,25,1,276,188]

In [68]:
    print(lists)
for num  in lists:
       if(num%2==1):
        print(num, "is odd")

[10, 20, 14, 55, 43, 87, 76]
55 is odd
43 is odd
87 is odd

In [69]:
lists=[10,20,14,55,43,87,76]

In [70]:
 print(lists)
count=0
for i in lists:
    count=count+1
   
print("Number of item in the Lists2:",count)

[10, 20, 14, 55, 43, 87, 76]
Number of item in the Lists2: 7